*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-size: large;
    background-color: #99d14c;
    background-color: #EFEFDC;
}

.container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}


.main {
    height: 100svh;
    position: relative;
    background-color: #ffe3b3;
}

.content {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #fff;
    height: 78svh;
    padding: 1.5em;
    padding-bottom: 2em;
    border-radius: 7px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.message {
    color: #E868CB;
    font-size: 2rem;
    margin-top: 1em;
    letter-spacing: -1.3px;
    word-spacing: 2px;
}

.input-container {
    height: 8svh;
    padding: 1em;
    align-items: center;
    display: flex;
    background-color: #252c53;
}

.amount-element {
    width: 100%;
    padding: .6em 1em;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 1.8rem;
    letter-spacing: .05em;
}



.display > aside {
    margin-bottom: 1em;
}

.display .remaining-amount {
    background-color: #981E5A;
    border-radius: 13px;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.remaining-amount .heading {
    color: #FAFAFA;
}

.remaining-amount .value {
    color: #fff;
}

.heading {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: unset;
    padding-bottom: 1em;
    text-transform: capitalize;
    color: #494454;

}

.value {
    font-size: 3rem;
    color: #001176;
    font-weight: bold;
}

.reactions {
    gap: 1em; 
    align-items: flex-end;
    display: flex;
    position: fixed;
    bottom: 10px;
    width: 100%;
    margin-left: 1em;
    height: 10svh;
}

.calc-button {
    width: 75vw;
    padding: .8em 0;
    border-radius: 7px;
    cursor: pointer;
    font-size: 2rem;
    text-transform: capitalize;
    border: none;
    color: #000;
    color: #fff;
    letter-spacing: 1px;
    background-color: #8870e6     
}

.setting-button {
    background-color: #981E5A;
    padding: 1.2em;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.fa {
    font-size: 1.8rem;
    color: #fff;
}

.setting-panel {
    background-color: #fff;
    height: 77svh;
    width: 90%;
    padding: 0 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.panel-wrapper {
    display: grid;
    margin-bottom: 2.5em;
}

.panel-wrapper:first-child {
    margin-top: 3em;
}

.setting-panel label {
    padding: .4em 0;
    font-size: 1.4rem;
    padding-left: .5em;
    font-weight: bold;
}

.setting-panel select {
    padding: .5em 0;
    font-size: 1.6rem;
    padding-left: .4em;
    border: none;
    border-radius: 7px;
}




